<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>
    <form method="POST">
        <button type="submit" name="clear">CLEAR</button>
    </form>
    <a href="{{ url_for('visuals') }}">View Visual Reports</a>
    {% if commit %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Skills</th>
            <th>ATS score</th>
        </tr>
        {% for row in commit %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No resumes available.</p>
    {% endif %}
</body>
</html>
